{% extends "base.html" %}
{% block content %}
<p class="location">you are here: Global Forum </p>
    <h1>Please vote, {{ current_user.username }}!</h1>
    <p> You can find all global suggestions here! </p>
    <p>This is the place where we as the developers would like to recieve your input.<br>
    Please make your own suggestions as to what you would like to have included in the questions.<br>
  Please vote for other users' suggestions.</p>

{% for post in posts %}
       {% include '_post.html' %}
   {% endfor %}
   {% if prev_url %}
   <a href="{{ prev_url }}">Newer posts</a>
   {% endif %}
   {% if next_url %}
   <a href="{{ next_url }}">Older posts</a>
   {% endif %}
{% endblock %}
