{% extends "base.html" %}

{% block content %}
    <form action = "" method = "POST"> <!--action says what happens after-->
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }} <br>
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.password.label }} <br>
            {{ form.password(size=32) }}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
    <p>Don't have an account yet? <a href="{{ url_for('register') }}">Click to Register here!</a></p>
{% endblock %}
